[user]
	email = bastien@traverse.email
	name = Bastien Traverse
[credential]
	helper = cache --timeout=3600
[core]
	editor = nano
	autocrlf = input
	excludesfile = /home/neitsab/.gitignore_global
	quotePath = false
[color]
	ui = auto
[log]
	date = iso8601
[diff]
	tool = meld
[push]
	default = simple
