#!/hint/bash

# Common aliases between Zsh and Bash

## General CLI

alias sudo='sudo '
alias ls='ls --color=auto'
alias ll='ls -lah --time-style=long-iso'
alias grep='grep -i --color=auto'
alias diff='diff -y --suppress-common-lines'
alias df='df -hT -x devtmpfs -x tmpfs'
alias lsblk='lsblk -o NAME,TYPE,SIZE,LABEL,FSTYPE,MOUNTPOINT'
alias cp='cp --reflink=auto'
alias ipa='ip -c -br a'
alias ipl='ip -c -br l'

alias rsync-perfect='sudo rsync -aHAXShUU --info=progress2 --partial'
alias rsync-perfect-remote-sudo='rsync -aHAXShUU --info=progress2 --partial --rsync-path="sudo rsync"'

alias ssh-forget='ssh -o UserKnownHostsFile=/dev/null'
alias ssh-forget-pass='ssh -o PreferredAuthentications=password -o PubkeyAuthentication=no -o UserKnownHostsFile=/dev/null'
alias ssh-old='ssh -o PubkeyAcceptedAlgorithms=+ssh-rsa -o HostkeyAlgorithms=+ssh-rsa'

### Core utils replacements

command -v micro &>/dev/null && alias nano='micro'
alias edit="$EDITOR"
#command -v bat >/dev/null && alias cat='bat'

## Package management

# Test whether we're on an Arch-based distro
if command -v pacman &>/dev/null; then
  # if true, use a variable to store the AUR helper used
  AURHELPER=yay
  # test whether the calling user is root, if true then bypass the AUR helper because
  # it most likely means I'm on system where I won't install/use an AUR helper
  if [ "$EUID" -eq 0 ]; then
      pm="pacman"
  # otherwise, if the defined AUR helper is installed use that
  elif command -v "$AURHELPER" &>/dev/null; then
    pm="$AURHELPER"
  # if it is not and we are not root, just use sudo pacman
  else
    pm="sudo pacman"
  fi

  alias inst="$pm -S --needed"
  alias asdeps='inst --asdeps'
  alias maj='inst -yu'
  alias majaur="$pm -Sua"
  alias remove="$pm -Rs"
  alias purge="$pm -Rsn"
  # those two don't require sudo if called as a normal user so delete the substring
  if [ "$pm" = "sudo pacman" ] ; then
    alias query="${pm#sudo } -Ss"
    alias repinfo="${pm#sudo } -Si"
  else
    alias query="$pm -Ss"
    alias repinfo="$pm -Si"
  fi
  alias cleancache="$pm -Sc"
  # alias rem_orphan='yay -Yc'

  alias search='pacman -Qs'
  alias pkginfo='pacman -Qi'
  alias whose='pacman -Qo'
  alias orphan='pacman -Qdtq'
  alias rem_orphan="orphan | purge -"
  alias modified="pacman -Qii | grep '\[modified]'"
  alias markasdeps="$pm -D --asdeps"
  alias markasexplicit="$pm -D --asexplicit"

  alias mksrcinfo='makepkg --printsrcinfo > .SRCINFO'
  alias devtools-install="inst devtools --assume-installed breezy --assume-installed mercurial --assume-installed subversion"
fi

## systemd

alias sctl='sudo systemctl'
alias uctl='systemctl --user'
alias enable='sctl enable'
alias disable='sctl disable'
alias status='systemctl status'
alias start='sctl start'
alias stop='sctl stop'
alias restart='sctl restart'
alias reload='sctl reload'
alias sreboot='sctl reboot'
alias poweroff='sctl poweroff'
alias jctl='journalctl -o short-iso'

## Misc CLI tools

### git

if command -v git &>/dev/null; then
  alias gss='git status'
  alias gc='git commit'
  alias gp="git push"
  alias gpu="git pull"
  alias glog='git log --decorate --pretty=oneline --abbrev-commit'
  alias grog='glog --graph'
  alias gdif='git diff'
fi

if command -v lazygit &>/dev/null; then alias lg='lazygit'; fi

### qemu/kvm

#alias kvm='qemu-system-x86_64 -cpu host -enable-kvm -m 3G -vga vmware -full-screen'

### youtube-dl

# make sure any program still calling youtube-dl gets redirected
if command -v yt-dlp &>/dev/null; then
  alias youtube-dl='yt-dlp'
  # common options that I always want
  alias ytdl='yt-dlp --no-mtime --embed-metadata --no-embed-info-json --embed-thumbnail --concurrent-fragments 5 --merge-output-format "mkv" -o "%(uploader)s - %(upload_date)s - %(title)s.%(ext)s"'
  # parallel downloading
  alias ytdlx='ytdl --external-downloader aria2c --external-downloader-args "-j 8 -s 8 -x 8 -k 5M"'
  # download music
  alias ytdlm='ytdl -f "258/251/22/256/140/250/18/249/139" -o "%(title)s.%(ext)s"'
  # alter: --format "(bestaudio[acodec^=opus]/bestaudio)/best"

  # "will only choose combinations that fit either WebM (VP8/VP9+Vorbis/Opus) or MP4 (H.264+AAC)"
  alias ytdlv='ytdl -f "bestvideo[ext=webm]+251/bestvideo[ext=mp4]+(258/256/140)/bestvideo[ext=webm]+(250/249)/best"'
  # old -f bestvideo\[height\<\=\?1080\]\+bestaudio\/best

  # archiving
  # see https://github.com/TheFrenchGhosty/TheFrenchGhostys-Ultimate-YouTube-DL-Scripts-Collection/blob/master/scripts/Archivist%20Scripts/Archivist%20Scripts%20(No%20Comments)/Unique/Unique.sh
  # and https://gist.github.com/AgentOak/34d47c65b1d28829bb17c24c04a0096f#yt-dlp-usage-example
  alias ytdl-archive='ytdl --no-overwrites --parse-metadata "%(title)s:%(meta_title)s" --parse-metadata "%(uploader)s:%(meta_artist)s"'
  alias ytdl-archive-desc='ytdl-archive --write-description'
  alias ytdl-archive-sub='ytdl-archive --write-sub --sub-format "srt/ass/best" --sub-lang en,fr --embed-subs'
  alias ytdl-archive-all='ytdl-archive --write-sub --sub-format "srt/ass/best" --sub-lang en,fr --embed-subs --write-description --write-info-json --write-annotations --write-thumbnail'
fi

### ffmpeg

if command -v ffmpeg &>/dev/null; then alias ffmpeg='ffmpeg -hide_banner'; fi

### phoronix-test-suite

if command -v phoronix-test-suite &>/dev/null; then alias pts="phoronix-test-suite"; fi

### Terraform

if command -v terraform &>/dev/null; then  alias tf='terraform'; fi
